@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    background-color: #f4f4f4;
    min-height: 100vh;
    overflow: hidden
}

.btn {
    @apply rounded-lg;
    @apply cursor-pointer;
    @apply p-2;
    @apply box-border;
    @apply text-xl;
    @apply shadow-sm;
}