@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f4f4f4;
    color: #1a1c2c;
}

#root {
    background-color: #f4f4f4;
    min-height: 100vh;
    overflow: hidden;
    color: #1a1c2c;
}

.btn {
    @apply rounded-lg;
    @apply cursor-pointer;
    @apply p-2;
    @apply box-border;
    @apply text-xl;
    @apply shadow-sm;
}